.sending {
  width: 100%;
  min-height: var(min-height);
  margin-bottom: auto;

  display: flex;
  gap: 30px;

  &__div {
    border-right: 1px solid grey;
    box-shadow: 0 0 5px #000;
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex-grow: 4;
    gap: 20px;
  }

  &__title {
    margin: 0;
  }
}
